.homepage {
    background-image:url('/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 91vh;
    width: 100vw;
}

.title {
    text-align: center;
    color: white;

}